@import "../../root";

.sidebar {
  background-color: $sec-bg;
  height: 50vh;
  border-radius: 0.25em;
  border: 2px solid lighten($color: $sec-bg, $amount: 10);
  display: flex;
  flex-direction: column;
  padding-top: 30%;
  a {
    width: 100%;
    padding: 1em;
    text-align: center;
    font-size: $step-0;
  }
}
